# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

In [2]:
import pandas as pd
import numpy as np
import math
import json
# % matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

## Step 1: Load, Explore and Visualize Data

### Visualize DataFrames

In [10]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [16]:
profile

,gender,age,id,became_member_on,income
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,20170212,NaN
1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
2,None,118,38fe809add3b4fcf9315a9694bb96ff5,20180712,NaN
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
4,None,118,a03223e636434f42ac4c3df47e8bac43,20170804,NaN
...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,54000.0
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,72000.0
16997,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,73000.0
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,50000.0
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,82000.0

In [87]:
transcript

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,{'amount': 1.5899999999999999},714
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,{'amount': 9.53},714
306531,a00058cf10334a308c68e7631c529907,transaction,{'amount': 3.61},714
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,{'amount': 3.5300000000000002},714
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,{'amount': 4.05},714

In [106]:
# Extracting offer id from the value column's dictionary 
transcript_value = transcript[transcript['event'] != 'transaction']['value'].apply(pd.Series)
transcript_value = transcript_value.fillna('').drop('reward', axis=1)
transcript_value['offer_id'] = transcript_value['offer_id'] + transcript_value['offer id']
transcript_value = transcript_value.drop('offer id', axis=1)
transcript_value

                                offer_id
0       9b98b8c7a33c4b65b9aebfe6a799e6d9
1       0b1e1539f2cc45b7b9fa7c272da2e1d7
2       2906b810c7d4411798c6938adc9daaa5
3       fafdcd668e3743c1bb461111dcafc2a4
4       4d5c57ea9a6940dd891ad53e9dbe8da0
...                                  ...
306497  2298d6c36e964ae4a3e7e9706d1fb8c2
306506  fafdcd668e3743c1bb461111dcafc2a4
306507  0b1e1539f2cc45b7b9fa7c272da2e1d7
306509  fafdcd668e3743c1bb461111dcafc2a4
306527  fafdcd668e3743c1bb461111dcafc2a4

[167581 rows x 1 columns]

In [115]:
# Assigning value column only the offer id 
transcript['value'] = transcript_value
transcript_offers = transcript[transcript['event'] != 'transaction']
transcript_offers

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,9b98b8c7a33c4b65b9aebfe6a799e6d9,0
1,a03223e636434f42ac4c3df47e8bac43,offer received,0b1e1539f2cc45b7b9fa7c272da2e1d7,0
2,e2127556f4f64592b11af22de27a7932,offer received,2906b810c7d4411798c6938adc9daaa5,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,fafdcd668e3743c1bb461111dcafc2a4,0
4,68617ca6246f4fbc85e91a2a49552598,offer received,4d5c57ea9a6940dd891ad53e9dbe8da0,0
...,...,...,...,...
306497,a6f84f4e976f44508c358cc9aba6d2b3,offer completed,2298d6c36e964ae4a3e7e9706d1fb8c2,714
306506,b895c57e8cd047a8872ce02aa54759d6,offer completed,fafdcd668e3743c1bb461111dcafc2a4,714
306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,offer viewed,0b1e1539f2cc45b7b9fa7c272da2e1d7,714
306509,8431c16f8e1d440880db371a68f82dd0,offer completed,fafdcd668e3743c1bb461111dcafc2a4,714
306527,24f56b5e1849462093931b164eb803b5,offer completed,fafdcd668e3743c1bb461111dcafc2a4,714

## Step 2: Clean and Pre-process Data

### Combine all 3 *.json* files into a single DataFrame and drop useless columns

In [122]:
df = transcript_offers.merge(profile, how='inner', left_on='person', right_on='id').drop(['person', 'id'], axis=1)
df = df.merge(portfolio, how='inner', left_on='value', right_on='id').drop(['value', 'id'], axis=1)
df = df.drop('became_member_on', axis=1)
df

,event,time,gender,age,income,reward,channels,difficulty,duration,offer_type
0,offer received,0,F,75,100000.0,5,"[web, email, mobile]",5,7,bogo
1,offer viewed,6,F,75,100000.0,5,"[web, email, mobile]",5,7,bogo
2,offer completed,132,F,75,100000.0,5,"[web, email, mobile]",5,7,bogo
3,offer received,408,M,68,70000.0,5,"[web, email, mobile]",5,7,bogo
4,offer viewed,420,M,68,70000.0,5,"[web, email, mobile]",5,7,bogo
...,...,...,...,...,...,...,...,...,...,...
167576,offer viewed,576,F,52,86000.0,3,"[web, email, mobile, social]",7,7,discount
167577,offer completed,576,F,52,86000.0,3,"[web, email, mobile, social]",7,7,discount
167578,offer received,576,M,20,70000.0,3,"[web, email, mobile, social]",7,7,discount
167579,offer viewed,600,M,20,70000.0,3,"[web, email, mobile, social]",7,7,discount
167580,offer completed,678,M,20,70000.0,3,"[web, email, mobile, social]",7,7,discount

### One-hot encode categorical features 
Features: `gender`, `channels`, `offer_type`

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

### Fill incomplete features  
Features: `gender`, `income`

In [129]:
# We can see that gender and income features both have nan values
df.isnull().sum()

event             0
time              0
gender        18776
age               0
income        18776
reward            0
channels          0
difficulty        0
duration          0
offer_type        0
dtype: int64

In [132]:
# Fill nan values with mean of their respective columns
df.fillna(df.mean(), axis=1)

KeyboardInterrupt:

### Normalize numerical featuers
Features: `reward`, `difficulty`, `duation`, `age`, `income`, `time`

### Map labels to 0 and 1
Label: `event`  
Map `offer received` and `offer viewed` to 0 and `offer completed` to 1

### Calculate and visualize percentage of offers completed:  
Formula: `# of offers completed / # of offers received`

### Calculate and visualize percentage of transactions with offers:  
Formula: `# of offers completed / (# of transactions - # of offers completed)`

## Step 3: Split data into train/test datasets
Note: labels will be the `events` feature